POSTGRES_DB=codigoactivo
POSTGRES_USER=codigoactivo
POSTGRES_PASSWORD=

APP_BASE_URL=https://example.org
HTTP_PORT=8080

APP_TIMEZONE=Europe/Madrid
DEMO_MODE=false
AUTH_SAMESITE=Lax

LOG_TO_FILE=true

ACCOUNT_VERIFICATION_REQUIRED=false
SMTP_HOST=
SMTP_PORT=
SMTP_SECURITY=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_ADDRESS=
SMTP_FROM_NAME=Código Activo
