*.sh            text eol=lf
*.conf          text eol=lf
*.template      text eol=lf
*.yml           text eol=lf
*.yaml          text eol=lf
Dockerfile      text eol=lf
.dockerignore   text eol=lf
.env.example    text eol=lf
Directory.Build.Analyzers.props text eol=lf
Directory.Build.targets         text eol=lf
SonarLint.xml                   text eol=lf
.editorconfig                   text eol=lf
